/* start global rules */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* start variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --padding-section: 60px;
    --section-background: #f6f6f6;
    --transition-durations: .3s;
}
/* end variables */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
.container {
    padding: 0 15px;
    margin: 0 auto;
}
/* media  */
/* small */ 
@media (min-width: 767px) {
    .container {
        width: 750px;
    }
}
/* medium */ 
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */ 
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */
/* special heading */
.special-heading {
    text-align: center;
}
.special-heading h2{
    font-size: 100px;
    color: #ebeced;
    font-weight: 800;
    letter-spacing: -3px;
}
.special-heading p{
    font-size: 20px;
    color: #797979;
    margin-top: -30px;
}
@media (max-width:767px) {
    .special-heading h2 {
        font-size: 45px;
    }
    .special-heading p {
        font-size: 16px;
        margin-top: -20px;
    }
}
/* start header  */
header {
    padding: 20px;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .container .logo {
    width: 60px;
}
header .container .logo img {
    max-width: 100%;
}
header .container .links {
    position: relative;
}
header .container .links .icons{
    width: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
header .container .links .icons div {
    width: 100%;
    height: 2px;
    background-color: #333;
    margin-bottom: 3px;
}
header .container .links .icons div:nth-child(2)
{
    width: 50%;
    transition: var(--transition-durations);
}
header .container .links .icons:hover div:nth-child(2) {
    width: 100%;
}
header .container .links ul {
    background-color: var(--section-background);
    list-style: none;
    position: absolute;
    z-index: 100;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
}
header .container .links ul::before {
    content: '';
    position: absolute;
    border-width: 10px;
    border-color: transparent transparent var(--section-background) transparent;
    border-style: solid;
    right: 5px;
    top: -20px;

}
header .container .links:hover ul {
    display: block;
}
header .container .links ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: var(--transition-durations);
}
header .container .links ul a:hover {
    padding-left: 25px;

}
header .container .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/* end  header  */
/* start landing  */
.landing {
    position: relative;
    height: calc(100vh - 68px);
    background-image: url(../images/landing\ 2.jpeg);
    background-size: cover;
    background-position: center;
}
.landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: #33333380;
    z-index: 99;
}
.landing .intro-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 320px;
    z-index: 100;
}
.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
}
.landing .intro-text p {
    color: #000000;
    font-size: 19px;
    line-height: 1.8;
    font-weight: 600;
}
/* end landing  */
/* start features */
.features {
    position: relative;
    padding: var(--padding-section) 0;
    background-color: var(--section-background);
    z-index: 0;
}
.features .container{
    align-content: center;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,auto));
    gap: 20px;
}
.features .container .box {
    position: relative;
    text-align: center;
    padding: 20px;
    overflow: hidden;
}
.features .container .box::before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2c475550;
    transition: var(--transition-durations);
    z-index: -1;
}
.features .container .box:hover::before {
    bottom: 0;
}
.features .container .box i {
    margin-bottom: 20px;
    color: var(--main-color);
}
.features .container .box h3 {
    font-weight: 800;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.features .container .box p {
    line-height: 1.8;
    color: #777;
}
/* end features */
/* start services  */
.services {
    padding: var(--padding-section) 0;
}
.services .container .services-content{
    text-align: center;
    margin-top: var(--padding-section);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px , 1fr));
    gap: 20px;
}
.services .container .services-content .col .box{
    padding: 20px;
    position: relative;
    text-align: left;
    display: flex;
    column-gap: 30px;
    margin-bottom: 30px;
    overflow: hidden;
}
.services .container .services-content .col .box::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background-color: #2c475550 ;
    transition: var(--transition-durations);
    z-index: -1;
}
.services .container .services-content .col .box:hover::before {
    left: 0;
}
@media (max-width:767px) {
    .services .container .services-content .col .box{
        text-align: center;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .services .container .services-content .col .box i {
        margin:  auto ;
        margin-bottom: -10px;
    }
}
.services .container .services-content .col .box i {
    color: var(--main-color);
    flex-basis: 60px;
}
.services .container .services-content .col .box .text {
    flex: 1;
}
.services .container .services-content .col .box .text h3{
    margin: 0 0 20px;
}
.services .container .services-content .col .box .text p{
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}
.services .container .services-content .col .image {
    position: relative;
    background-color: var(--section-background);
    width: 70%;
    height: 80%;
    margin: auto;
}
@media (max-width:1200px) {
    .services .container .services-content .col .image {
        display: none;
    }
}
.services .container .services-content .col .image::before {
    content: '';
    position: absolute;
    width: 60px;
    height: calc(100% + 100px);
    background: var(--secondary-color);
    z-index: -1;
    right: 0;
    top: -50px;
}
/* end services  */
/* start portfolio  */
.portfolio {
    padding: var(--padding-section) 0;
    background-color: var(--section-background);
}
.portfolio .portfolio-content {
    margin-top: var(--padding-section);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}
.portfolio .portfolio-content .box {
    padding: 10px;
    background-color: #fff;
}
.portfolio .portfolio-content .box .image {
    max-width: 100%;
    height: 250px;
    background-color: var(--secondary-color);
}
.portfolio .portfolio-content .box .box-content{
    padding: 10px;
}
.portfolio .portfolio-content .box .box-content h3{
    color: var(--main-color);
}
.portfolio .portfolio-content .box .box-content p{
    color: #777;
    margin-top: 10px;
}
/* end portfolio  */
/* start about section */
.about {
    padding: var(--padding-section) 0;
}
.about .container {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    margin-top: var(--padding-section);
    justify-content: space-between;
    gap: 100px;
}
@media (max-width: 767px) {
    .about .container {
        gap: 40px;
    }
}
.about .container .image {
    position: relative;
    height: 375px;
}
.about .container .image::before {
    content: '';
    position: absolute;
    width: 92px;
    height: calc(100% + 100px);
    top: -50px;
    left: -10px;
    z-index: -1;
    background-color: var(--secondary-color);
}
.about .container .image::after {
    content: '';
    position: absolute;
    top: -50px;
    right: -169px;
    background-color: transparent;
    width: 127px;
    height: 80%;
    border-left: 85px solid var(--main-color);
    border-bottom: 74px solid var(--main-color);
    z-index: -1;
}
@media (max-width: 767px) {
    .about .container .image::before,
    .about .container .image::after {
        display: none;
    }
}
.about .container .image img {
    width: 300px;
    height: 100%;
}
.about .container .about-content {
    flex-basis: 500px;
    margin-left: 50px;
}
@media (max-width:1200px) {
    .about .container .about-content {
        margin-left: 0;
    }
}
@media (max-width:1200px) {
    .about .container .image {
        display: none;
    }
    .about .container .about-content {
        flex: 1;
        text-align: center;
    }
    .about .container .about-content hr {
        margin: auto;
    }
}
.about .container .about-content p:first-child{
    margin-bottom: 50px;
    line-height: 1.8;
    font-weight: 700;
}
.about .container .about-content hr{
    border: none;
    width: 50%;
    background-color: var(--main-color);
    height: 5px;
    margin-bottom: 20px;
}
.about .container .about-content p:last-of-type {
    line-height: 1.8;
    color: #777;
}
/* end about section */
@media (max-width: 767px) {
    .services .services-content,
    .features .container,
    .portfolio .portfolio-content {
        grid-template-columns: 1fr;
    }
}
/* start contact  */
.contact {
    padding: var(--padding-section) 0;
    background-color: var(--section-background);
}
.contact .container .contact-content {
    width: 50%;
    margin-top: var(--padding-section);
    text-align: center;
}
@media (max-width:1200px) {
    .contact .container .contact-content {
        width: 100%;
    }
}
.contact .container .contact-content > p {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondary-color);
    margin-bottom: 20px;
}
.contact .container .contact-content > a {
    display: block;
    font-size: 40px;
    font-weight: 800;
    color: var(--main-color);
    margin-bottom: 30px;
    text-decoration: none;
}
@media (max-width:767px) {
    .contact .container .contact-content > p {
        font-size: 25px;
    }
    .contact .container .contact-content > a {
        font-size: 25px;
    }
}
.contact .container .contact-content .social {
    display: flex;
    justify-content: center;
}
.contact .container .contact-content .social .icons {
    margin-left: 30px;
}
.contact .container .contact-content .social .icons i {
    margin: 0 10px 0 0;
    color: var(--secondary-color);
    transition: var(--transition-durations);
}
.contact .container .contact-content .social .icons i:hover {
    color: var(--main-color);
    font-size: 25px;
}
/* end contact  */
/* start footer  */
footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 18px;
}
footer .container p span {
    font-weight: 700;
    color: var(--main-color);
}
/* end footer  */